.footer {
 font-family: Quicksand;
 margin-top: 30px;
 /* border: 2px solid black; */
 /* height: 500px; */
 width: 100%;
}

.footer-top {
 position: relative;
}

.footer-bottom {
 position: absolute;
 background-color: #0e2941;
 height: 60px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;

}
.footer-bottom {
 color: #fff !important;
}