@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
  /* height: 100vh; */
  overflow: hidden;
  font-family: "Poppins";
  background: #0e2941;
  overflow: scroll;
}

.login-page {
  width: 400px;
  height: 100%;
  padding: 60px 0;
  margin: auto;
}


.form {
  /* height: 300px; */
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  /* margin: 0 auto 100px; */
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;

}
.input-login{
  font-family: "Poppins", sans-serif;
  outline: 0;
  /* background: #f2f2f2; */
  width: 100% !important;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;

}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #234666;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #0e2941;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #234666;
  text-decoration: none;
}
.hiden-input {
  display: none;
}
.register-page {
  transition: all 1s;
}
  .login-page .register-page{
  padding-top: 10px;
}

h2{
  color: black;
  font-size: 2em;
}

.btn-otp{
  height: 46px;
}
.error{
  height: 20px;
  margin: 10px;
}
.error p{
  font-weight: 600;
  color: red;
}
