@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body{
  background: #0e2941;
  font-family: Inter ;
}
  .otp-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: none; */
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .otp-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .otp-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .otp-form button {
    
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 1s;
  }
  .otp-form button:last-child{
    width: 30%;
    float: right;
    background-color: rgb(56, 245, 56);
  }
  .otp-form button:last-child:hover{
    width: 40%;
    background-color: rgb(67, 125, 67);
  }
  .otp-form button:hover {
    background-color: #0056b3;
    width: 60%;
  }

